Repository jonasehrlich/debug-flow, pull requests merged in 2025-07, with the labels that each got.

#18 feat(frontend): Set status node color based on status
  frontend/src/components/create-node-dialog.tsx
  frontend/src/components/edit-node-dialog.tsx
  frontend/src/components/git-revision.tsx
  frontend/src/components/icon-selector.tsx
  frontend/src/components/nodes.tsx
  frontend/src/components/state-colors-icons.tsx
Labels: frontend

#21 Add selection for Git revs
  frontend/src/components/async-combobox.tsx
  frontend/src/components/create-node-dialog.tsx
  frontend/src/components/edit-node-dialog.tsx
  frontend/src/components/git-diff-view.tsx
  frontend/src/components/node-form.tsx
  frontend/src/components/nodes.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/store.ts
  frontend/src/types/api.ts
  frontend/src/types/nodes.ts
  package-lock.json
  package.json
  src/web/api/v1/git.rs
Labels: enhancement, frontend, backend

#46 Clean-up node dialog state handling
  frontend/src/App.tsx
  frontend/src/components/app-menubar.tsx
  frontend/src/components/create-node-dialog.tsx
  frontend/src/components/edit-node-dialog.tsx
  frontend/src/components/flows-dialog.tsx
  frontend/src/store.ts
  frontend/src/types/state.ts
Labels: bug, frontend

#43 fix(async-combobox): Set clear button type as "button"
  frontend/src/components/async-combobox.tsx
Labels: bug, frontend

#53 Add APIs to create a tag/ branch
  frontend/src/client.ts
  frontend/src/types/api.ts
  src/web/api/v1/git.rs
Labels: backend

#54 chore: Remove DynamicTooltip
  frontend/src/components/confirming-button.tsx
  frontend/src/components/copy-button.tsx
  frontend/src/components/dynamic-tooltip.tsx
  frontend/src/components/git-revision.tsx
  frontend/src/components/nodes.tsx
  frontend/src/lib/utils.ts
Labels: frontend

#58 fix(AppNodeSchema): Fix type of Git metadata
  frontend/src/components/nodes.tsx
  frontend/src/store.ts
  frontend/src/types/nodes.ts
  frontend/src/types/state.ts
Labels: bug

#75 test(git2-ox): Add create and iter branch tests
  backend/git2-ox/src/branch.rs
  backend/git2-ox/tests/test_repository.rs
Labels: backend

#74 Feat: Allow checking out git revision
  backend/app/src/web/api/v1/git.rs
  backend/git2-ox/src/repository.rs
  frontend/src/App.tsx
  frontend/src/client.ts
  frontend/src/components/git-graph-sliding-panel.tsx
  frontend/src/components/git-revision.tsx
  frontend/src/components/git-revisions-panel.tsx
  frontend/src/components/git-status-card.tsx
  frontend/src/components/sliding-panel.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/store.ts
  frontend/src/types/api.ts
  frontend/src/types/state.ts
Labels: enhancement, frontend, backend
